.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 93.75vw;
}

#h1 {
  position: fixed;
  top: 0;
  left: 0;
  color: transparent;
}

.content {
  position: relative;
}

.btn_box {
  position: absolute;
  right: 12.5vw;
  top: 12.35vh;
  z-index: 10;
}

#btn {
  width: 12.5vw;
  height: 4.94vh;
  background: #1f1f1f;
  color: #fff;
  text-align: left;
  overflow: hidden;
  border: transparent;
}

.logoWrapper {
  position: absolute;
  left: 6.25vw;
  top: 12.3vh;
}

.logoWrapperBox {
  position: relative;
  overflow: hidden;
}

.logoBoxAnimate {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-animation: showLogo 0.4s;
  animation: showLogo 0.4s;
}

.logoWrapper > .logoWrapperBox > a > img {
  height: 3.7vh;
}

@-webkit-keyframes showLogo {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

@keyframes showLogo {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}
