.text_bld {
  font-weight: 800;
}

@media (min-width: 1023px) {
  .mobileBlock {
    display: none;
  }
}

@media (max-width: 1023px) {
  /* header */
  .headerMobile {
    position: fixed;
    width: 100%;
  }

  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }

  .headerWhite {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: transparent;
  }

  .menu {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }

  .menu > span {
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 8px;
    transition: 0.5s;
  }

  .menu > input:checked ~ #first {
    transform: rotate(45deg);
    transition: 0.5s;
  }

  .menu > input:checked ~ #two {
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .menu > input:checked ~ #three {
    background: transparent;
    transform: rotate(-45deg);
  }

  /* section */
  .title {
    overflow: hidden;
    height: auto;
    padding-bottom: 100px;
  }

  .title_img {
    position: relative;
    width: 100%;
    height: 72vw;
    background: url("/public/img/imgHomepage/1Home.webp");
    background-size: 300% 100%;
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
  }

  .title_img > img {
    padding: 0 20vw;
    height: 37.33vw;
  }

  .title_description {
    padding: 60px 20px 0;
    color: #000;
  }

  .main_title {
    font-size: 34px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .main_title > h4:first-child {
    font-weight: 800;
    margin-bottom: 5px;
  }

  .main_title > h4:nth-child(2) {
    font-weight: 800;
    line-height: 32px;
  }

  .btn {
    margin: 30px 0 60px;
  }

  .description_prg {
    font-size: 14px;
    line-height: 15px;
    text-align: justify;
  }

  .description_prg > p:nth-child(1) {
    margin-bottom: 21px;
  }

  /* section */
  .about {
    height: auto;
    padding: 100px 20px;
    border-top: 1px solid #ebebeb;
  }

  .data {
    margin-bottom: 100px;
  }

  .block_title {
    margin: 0 0 60px;
  }

  .block_title > h4 {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0 0 20px;
    text-transform: uppercase;
  }

  .block_title > p {
    font-size: 11px;
    line-height: 8px;
    text-transform: uppercase;
  }

  .line {
    display: flex;
    justify-content: space-between;
  }

  .line:not(:last-child) {
    margin: 0 0 30px;
  }

  .line > span {
    font-size: 11px;
    line-height: 13px;
  }

  .bold {
    font-size: 18px !important;
  }

  .lists {
    margin-bottom: 30px;
  }

  .list_title {
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
  }

  .lists > p {
    margin: 10px 0 0;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }

  /* section */
  .form {
    width: 100%;
    height: 100vh;
    background: grey;
    padding: 100px;
  }

  .blockForm {
    padding: 0 20px;
  }

  .blockForm > p {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .blockForm > p:nth-child(2) {
    margin-bottom: 40px;
  }
}
