/* #title:hover ~ footer>div>nav>a[href="#title"],
#about:hover ~ footer>div>nav>a[href="#about"],
#form:hover ~ footer>div>nav>a[href="#form"]{
    transition: 0.2s;
    
} */

#title:hover ~ footer > div > nav > #indicator {
  left: 0px;
  background: black;
  transition: 0.5s;
  transform: rotate(360deg);
}

#about:hover ~ footer > div > nav > #indicator {
  left: 41px;
  background: black;
  transition: 0.5s;
  transform: rotate(0deg);
}

#form:hover ~ footer > div > nav > #indicator {
  left: 82px;
  background: black;
  transition: 0.5s;
  transform: rotate(360deg);
}

/* footer>div>nav>a[href="#title"]:hover {
    left: 0px;
    background: black;
    transition: 0.2s;
}

footer>div>nav>a[href="#about"]:hover {
    left: 41px;
    background: black;
    transition: 0.2s;
}

footer>div>nav>a[href="#form"]:hover {
    left: 82px;
    background: black;
    transition: 0.2s;
} */
