#title:hover ~ div > nav > #indicator {
  left: 0px;
  background: #1f1f1f;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#about:hover ~ div > nav > #indicator {
  left: 41px;
  background: #1f1f1f;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#form:hover ~ div > nav > #indicator {
  left: 82px;
  background: #1f1f1f;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

footer:hover ~ div > nav > #indicator {
  width: 100%;
  background: #1f1f1f;
}

/*  */

.blockSpy {
  position: fixed;
  bottom: 13vh;
  left: 50vw;
}

.scrollSpy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style-type: none;
  overflow: hidden;
}

.scrollSpy > span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.scrollSpy > a {
  width: 11px;
  height: 11px;
  font-size: 16px;
  border: 2px solid #1f1f1f;
  text-decoration: none;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}

.scrollSpy:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}

.scrollSpy > a:hover {
  background: #1f1f1f;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}
