/* #title:hover ~ footer>div>nav>a[href="#title"],
#about:hover ~ footer>div>nav>a[href="#about"],
#form:hover ~ footer>div>nav>a[href="#form"]{
    transition: 0.2s;
    
} */
#title:hover~div>nav>#indicator{
    left: 0px;
    background: black;
    transition: 0.5s;
    transform: rotate(360deg);
}
#about:hover~div>nav>#indicator{
    left: 41px;
    background: black;
    transition: 0.5s;
    transform: rotate(0deg);
}
#form:hover~div>nav>#indicator{
    left: 82px;
    background: black;
    transition: 0.5s;
    transform: rotate(360deg); 
}
footer:hover~div>nav>#indicator{
  background: black;
  width: 100%;
 
}

/* #title:hover~footer>div>nav>#indicator {
    left: 0px;
    background: black;
    transition: 0.5s;
    transform: rotate(360deg);
}


#about:hover~footer>div>nav>#indicator {
    left: 41px;
    background: black;
    transition: 0.5s;
    transform: rotate(0deg);
}


#form:hover~footer>div>nav>#indicator {
    left: 82px;
    background: black;
    transition: 0.5s;
    transform: rotate(360deg);
} */



/*  */
.blockSpy{
    position: fixed;
    bottom: 10vh;
    left: 50vw;
}
.scrollSpy {
    list-style-type: none;
    display: flex;
    gap: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .scrollSpy > span {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.2s;
  }
  
  
  .scrollSpy > a {
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    color: white;
    width: 11px;
    height: 11px;
    border: 2px solid black;
    z-index: 10;
  }
  .scrollSpy:hover{
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  
  }
  .scrollSpy > a:hover {
    background: black;
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }
  
  