.btn {
  position: relative;
  display: block;
  width: 12.5vw;
  padding-left: 1.51vw;
  font-family: "GothamProMedium";
  font-size: 1.5vh;
  letter-spacing: 0.07vw;
  line-height: 4.9vh;
  background: transparent;
  border: 0;
  text-align: left;
  text-transform: uppercase;
  color: transparent;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transition: 0.4s linear;
  overflow: hidden;
}

.btn::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1.51vw;
  width: 100%;
  height: 100%;
  background: #000;
  outline: none;
  color: #fff;
  box-sizing: border-box;
  transform: translateX(0);
  transition: 0.5s linear;
}

.btn::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  /* padding-left: 1.3vw; */
  width: 100%;
  height: 100%;
  font-family: "GothamProBlack";
  font-size: 3.5vh;
  line-height: 4.9vh;
  letter-spacing: -0.05vw;
  color: #000;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: 0.5s linear;
}

.btn:hover::after {
  transform: translateX(-100%);
  transition: 0.5s linear;
}

.btn:hover::before {
  transform: translateX(0);
  transition: 0.5s linear;
}

@media (max-width: 1800px) {
  .btn::before {
    font-size: 2.4vh;
  }
}

@media (max-width: 1023px) {
  .btn {
    padding: 1vh 0;
    width: 100%;
  }

  .btn::after {
    padding: 1vh calc(50% - 47px);
    font-size: 14px;
    letter-spacing: 2px;
  }
}
