@media screen and (min-width: 1024px) {
  .formcontrol {
    font-size: 11.3580246913580247vh;
  }

  .input,
  .textarea {
    width: 27.7vw;
    height: 8vh;
    border: 0;
    outline: none;
    text-transform: uppercase;
  }

  .textarea {
    padding: 3vh 0 0;
    height: 8vh;
    overflow: hidden;
    resize: none;
  }

  .submitWrapper {
    margin: 6vh 0 0;
  }

  .item:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .borders:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .borders {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .focus {
    text-transform: uppercase;
    color: red;
  }

  .focus_consent {
    position: relative;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    color: red;
  }

  .consent {
    display: flex;
    margin: 30px 0 0;
    cursor: url("/public/img/header/cursor.png") 6 6, auto;
  }

  .policy_text {
    padding: 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }

  .policy_text > a {
    text-decoration: underline;
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .checkbox {
    display: none;
  }

  .checkfake {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    transform: translateY(80%);
  }

  .checkfake::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: url("/public/img/form/checkmark.svg");
    opacity: 0;
    transform: translateX(-20%);
    transform: translateY(-20%);
    transition: 0.3s ease-in-out;
  }

  .checkbox:checked + .checkfake::before {
    opacity: 1;
  }

  [data-style="form_btn"] {
    margin-left: auto;
  }
}

@media screen and (max-width: 1023px) {
  .form {
    width: 100%;
  }

  .formcontrol {
    font-size: 11px;
  }

  .input,
  .textarea {
    width: 100%;
    height: 55px;
    border: 0;
    outline: none;
    text-transform: uppercase;
  }

  .textarea {
    height: 55px;
    padding: 20px 0;
    overflow: hidden;
    resize: none;
  }

  .submitWrapper {
    text-align: right;
    margin: 40px 0 40px;
  }

  .item:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .borders:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .borders {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .focus {
    text-transform: uppercase;
    color: red;
  }

  .focus_consent {
    position: relative;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    color: red;
  }

  .consent {
    display: flex;
    margin: 30px 0 0;
    cursor: url("/public/img/header/cursor.png") 6 6, auto;
  }

  .policy_text {
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }

  .policy_text > a {
    text-decoration: underline;
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .checkbox {
    display: none;
  }

  .checkfake {
    display: block;
    transform: translateY(75%);
    width: 12px;
    height: 12px;
    border: 2px solid #000;
  }

  .checkfake::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 10px;
    background-color: #000;
    opacity: 0;
    transform: translateX(-20%);
    transition: 0.3s ease-in-out;
  }

  .checkbox:checked + .checkfake::before {
    opacity: 1;
  }

  .btn {
    margin: 0 0 100px;
    padding: 20px;
    width: 100%;
    height: 60px;
    font-family: "GothamProMedium", sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0;
    background-color: #000;
    color: #fff;
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }
}
