@media screen and (min-width: 1024px) {
  .formcontrol {
    font-size: 11.3580246913580247vh;
  }

  .input,
  .textarea {
    width: 27.7vw;
    height: 8vh;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    text-transform: uppercase;
  }

  .textarea {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 6vh;
    padding: 3vh 0 0;
    overflow: hidden;
    resize: none;
  }

  .submitWrapper {
    margin: 6.049382716049383vh 0 0;
  }

  .item:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  [data-style="form_btn"] {
    margin-left: auto;
  }
}

@media screen and (max-width: 1023px) {
  .form {
    width: 95%;
  }

  .formcontrol {
    font-size: 11px;
  }

  .input,
  .textarea {
    width: 100%;
    height: 55px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    text-transform: uppercase;
  }

  .textarea {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 6vh;
    padding: 3vh 0 0;
    overflow: hidden;
    resize: none;
  }

  .submitWrapper {
    text-align: right;
    margin: 6.049382716049383vh 0 0;
  }

  .item:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .btn {
    border: 0;
    width: 100%;
    height: 60px;
    margin: 0 0 100px;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: GothamProMedium;
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }
}
