.service__scroll_bar {
  position: fixed;
  bottom: 8.25vh;
  right: 3.125vw;
}

.service__scroll_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 71px;
  overflow: hidden;
}

.service__scroll_span {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 16px;
  border: 2px solid #1f1f1f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .service__scroll_bar {
    display: none;
  }
}
