.service__scroll {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* @media (max-width: 1023px) {
  .service__scroll {
    display: none;
  }
} */

@media (max-width: 1023px) {
  .service__scroll {
    padding: 20px;
  }
}
