.about {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding-left: 6.25vw; */
  height: 100vh;
  width: 93.75vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainData {
  height: 100vh;
  width: 50%;
  background: #f9f9f9;
  padding-left: 6.25vw;
  padding-top: 30vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainAwards {
  padding-left: 1.5625vw;
}

.mainData > h2,
.mainAwards > h2 {
  margin-bottom: 2.96vh;
  font-family: "JetBrains Mono Bold", monospace;
  font-size: 4.94vh;
  letter-spacing: 0.07vw;
  line-height: 3.46vh;
  text-transform: uppercase;
}

.mainData > p,
.mainAwards > p {
  font-size: 1.36vh;
  line-height: 0.99vh;
  text-transform: uppercase;
}

.listData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3.7vh;
  margin-top: 10.96vh;
  padding-right: 6.25vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.label {
  width: 30%;
  font-size: 1.36vh;
  text-transform: uppercase;
}

.value,
.valueAwards {
  max-width: 70%;
  font-family: "JetBrains Mono ExtraBold", monospace;
  font-size: 1.6vh;
  letter-spacing: 0.07vw;
  line-height: 1.6vh;
  text-transform: uppercase;
}

.mainAwards {
  height: 100%;
  width: 50%;
  padding-top: 30vh;
}
