.about {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.mainBlock {
  display: flex;
  padding-left: 6.25vw;
  height: 100vh;
  width: 93.75vw;
}

.mainData {
  height: 100%;
  width: 50%;
  background: #f9f9f9;
  padding-top: 30vh;
  /* background: red; */
}
.mainData > h2 {
  font-size: 5vh;
  letter-spacing: 0.1vw;
  line-height: 3.5vh;
  margin-bottom: 2.9vh;
}
.mainData > p {
  /* font-size: 1.3vh;
  line-height: 1.8vh; */
}
.listData {
  display: flex;
  flex-direction: column;
  gap: 3.7vh;
  margin-top: 40px;
}
.item {
  display: flex;
  width: 100%;
}
.label {
  width: 50%;
  /* font-size: 1.3vh;
  line-height: 1.8vh; */
}
.value {
  width: 50%;
  font-size: 2.2vh;
  letter-spacing: 0.06vw;
  line-height: 1.6vh;
}
.valueAwards {
  font-size: 2.2vh;
  letter-spacing: 0.06vw;
  line-height: 1.6vh;
}
.valueAwards > div:nth-child(2) {
  margin-top: 25px;
}

/*  */
.mainAwards {
  height: 100%;
  width: 50%;
  background: #ffffff;
  padding-top: 30vh;
}
.mainAwards > h2 {
  font-size: 5vh;
  letter-spacing: 0.1vw;
  line-height: 3.5vh;
  margin-bottom: 2.9vh;
}
.mainAwards > p {
  font-size: 1.3vh;
  line-height: 1vh;
}
