#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 16.25vh;
}

.container {
  max-width: 100vw;
  padding: 0 6.25vw 0;
  box-sizing: content-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.34vh 6.25vw 0 0;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.7vh;
  overflow: hidden;
}

.header__logo a {
  margin-right: 8.23vw;
}

.header__img {
  position: relative;
  overflow: hidden;
}

.header__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: showLogo;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.header__img:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}

.logo {
  display: block;
  width: 100%;
  height: 3.7vh;
}

.title,
.subtitle {
  position: relative;
  display: block;
  font-family: "GothamProBold";
  font-size: 4.94vh;
  line-height: 4.69vh;
  text-transform: uppercase;
  color: transparent;
  animation: showTitle;
  animation-duration: 0.8s;
  animation-delay: 550ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  overflow: hidden;
}

.title::before,
.subtitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  animation: slideCoverTitle;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

.subtitle {
  margin-left: 14.17vw;
}

.header__btn {
  position: relative;
  overflow: hidden;
}

[data-style="animated_btn"] {
  animation: showBtn;
  animation-duration: 0.8s;
  animation-delay: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
}

.header__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  animation: slideCoverTitle;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  z-index: 1;
}

@keyframes slideCoverTitle {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes showTitle {
  0% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes showLogo {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes showBtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
