.nav__sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33.42vh;
  top: 0;
  right: 0;
  padding-top: 12.34vh;
  width: 6.25vw;
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 13px;
  z-index: 102;
}

.nav__sidebar:hover {
  outline: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.66vh;
}

.nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.86vw;
  width: 100%;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
}

.nav__item {
  color: transparent;
}

.nav__items::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
  color: rgba(0, 0, 0, 0.5);
}

.nav__items:hover::before {
  left: -550%;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
}

.nav__items::after {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  max-width: 10.42vw;
  transform: rotate(90deg) translateY(520%);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
  font-family: "GothamProBlack", sans-serif;
  font-size: 8vh;
  line-height: 5.5vh;
  color: rgba(0, 0, 0, 1);
}

.nav__items:hover::after {
  top: 0;
  bottom: 0;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transform: rotate(90deg) translateY(-545%);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
}

.nav__screen {
  background: url("../../../public/img/header/fullscreen.svg") center no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

html:-webkit-full-screen .nav__screen {
  background: url("../../../public/img/header/fullscreen_close.svg") center
    no-repeat;
  background-size: cover;
}

html:-moz-full-screen .nav__screen {
  background: url("../../../public/img/header/fullscreen_close.svg") center
    no-repeat;
  background-size: cover;
}

html:-ms-fullscreen .nav__screen {
  background: url("../../../public/img/header/fullscreen_close.svg") center
    no-repeat;
  background-size: cover;
}

.nav__screen:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transition: all 0.3s;
  opacity: 0.3;
}

@media (max-width: 992px) {
  .nav__sidebar {
    display: none;
  }
}
