.nav__sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25vh;
  top: 0;
  right: 0;
  padding-top: 12.3vh;
  width: 6.25vw;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "GothamProMedium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 13px;
  z-index: 102;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  width: 100%;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
}

.nav__item {
  color: transparent;
}

.nav__items::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
  color: rgba(0, 0, 0, 0.3);
}

.nav__items:hover::before {
  left: -550%;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
}

.nav__items::after {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  max-width: 200px;
  transform: rotate(90deg) translateY(520%);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
  font-family: "GothamProBlack", sans-serif;
  font-size: 96px;
  line-height: 66px;
  color: rgba(0, 0, 0, 1);
}

.nav__items:hover::after {
  top: 0;
  bottom: 0;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transform: rotate(90deg) translateY(-720%);
  transition: all 0.5s cubic-bezier(0.6, 0, 0.5, 1);
}

.nav__screen {
  transition: all 0.3s;
}

.nav__screen:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  transition: all 0.3s;
  opacity: 0.3;
}

@media (max-width: 992px) {
  .nav__sidebar {
    display: none;
  }
}
