footer {
  background: transparent;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 6.25vw;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 12.58vh;
  max-width: 81.25vw;
  font-size: 10px;
  line-height: 8px;
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 4.58vw;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 2.5vw;
  -moz-column-gap: 2.5vw;
  column-gap: 2.5vw;
  height: 1vh;
  overflow: hidden;
}

.item {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.roll__link {
  display: block;
}

.link__top,
.link__bottom {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.link__top {
  line-height: 10px;
}

.item:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  -webkit-transform: translateY(-112%);
  -ms-transform: translateY(-112%);
  transform: translateY(-112%);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.link__top:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}

.link__bottom:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}

.copyright {
  font-size: 10px;
  line-height: 8px;
  text-transform: uppercase;
}

@media (min-width: 1921px) {
  .link__top {
    line-height: 11px;
  }
}

@media (max-width: 1599px) {
  .link__top {
    line-height: 11px;
  }
}

@media (max-width: 1500px) {
  .link__top {
    line-height: 9px;
  }
}

@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 5.5vh;
    max-width: 100%;
  }

  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
  }

  .title {
    margin: 0 auto 2.5vh;
  }

  .list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 12vw;
    -moz-column-gap: 12vw;
    column-gap: 12vw;
    width: 100%;
    height: auto;
  }

  .item:hover {
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .link__top {
    line-height: 11px;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
  }

  .link__bottom {
    display: none;
  }
}
