@media (min-width: 1024px) {
  #header {
    width: 100vw;
    margin-bottom: 17.25vh;
    padding-top: 12.59vh;
  }

  .container {
    width: 50vw;
    padding: 0 0 0 6.25vw;
    box-sizing: border-box;
  }

  .header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8.23vw;
    overflow: hidden;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.7vh;
    overflow: hidden;
  }

  .header__img {
    position: relative;
    overflow: hidden;
  }

  .header__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: showLogo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .header__img:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }
}

@media (max-width: 1023px) {
  .header {
    position: fixed;
    z-index: 12;
    width: 100vw;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__img {
    position: relative;
    overflow: hidden;
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .header__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: showLogo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .logo {
    height: 25px;
  }
}

@keyframes showLogo {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes slideCoverTitle {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes showTitle {
  0% {
    color: #000;
  }
  100% {
    color: #000;
  }
}
