@media screen and (min-width: 1024px) {
  #header {
    width: 100vw;
    margin-bottom: 17.25vh;
    padding-top: 12.34vh;
  }

  .container {
    width: 50vw;
    padding: 0 0 0 6.25vw;
    box-sizing: border-box;
  }

  .header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8.33vw;
    overflow: hidden;
  }

  .logo {
    display: block;
    width: 100%;
    height: auto;
  }

  .header__img {
    position: relative;
    overflow: hidden;
  }

  .header__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: showLogo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .header__img:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .title {
    position: relative;
    font-family: "GothamProBold", sans-serif;
    font-size: 4.93vh;
    line-height: 4.69vh;
    text-transform: uppercase;
    color: transparent;
    animation: showTitle;
    animation-duration: 0.8s;
    animation-delay: 550ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    overflow: hidden;
  }

  .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    animation: slideCoverTitle;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
  }
}

@media screen and (max-width: 1023px) {
  .title {
    position: relative;
    font-family: "GothamProBold", sans-serif;
    padding: 0 1.04vw; /* 0 20px*/
    margin: 3.33vh 0 8.33vh; /*40px 0 100px*/
    font-size: 4.93vh; /*40px*/
    line-height: 2.33vh; /*28px*/
    text-transform: uppercase;
    animation: showTitle;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  .header__img {
    position: relative;
    overflow: hidden;
  }

  .header__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: showLogo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
}

@keyframes showLogo {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes slideCoverTitle {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes showTitle {
  0% {
    color: #000;
  }
  100% {
    color: #000;
  }
}
