.footer {
  width: calc(93.75vw - 6.25vw);
  height: 100px;
  position: fixed;
  left: 6.25vw;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
}

.scrollSpy {
  list-style-type: none;
  display: flex;
  gap: 30px;
  position: relative;
  overflow: hidden;
}

.scrollSpy > span {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.2s;
}

.scrollSpy > a {
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  width: 11px;
  height: 11px;
  border: 2px solid #1f1f1f;
  z-index: 10;
}

.scrollSpy:hover {
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}

.scrollSpy > a:hover {
  background: #1f1f1f;
  cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
}
