.contacts::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 1px;
  left: 50vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1920px;
  padding: 0 120px 0;
  box-sizing: content-box;
}

.contacts__wraper {
  display: flex;
  justify-content: space-between;
}

.contacts__wraper_left {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  max-width: 860px;
}

.contacts__info,
.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
}

.contacts__row_top,
.contacts__row_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 180px;
}

.contacts__label {
  min-width: 80px;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__item {
  font-family: "GothamProBlack", sans-serif;
  font-size: 22px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__social {
  display: flex;
  column-gap: 180px;
}

.contacts__message {
  margin-top: 50px;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__wraper_right {
  position: relative;
  padding-right: 120px;
}

.contacts__text {
  position: absolute;
  top: -205px;
  left: 0;
  max-width: 19.791666666666668vw;
  font-size: 1.3580246913580247vh;
  line-height: 1.8518518518518519vh;
  text-align: left;
  text-transform: uppercase;
}

.contacts__copyright {
  position: absolute;
  bottom: 0;
  right: 120px;
  font-size: 10px;
  line-height: 8px;
  text-transform: uppercase;
}
