@media (min-width: 1024px) {
  .contacts::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    left: 50vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
  }

  .container {
    max-width: 93.75vw;
    padding: 0 6.25vw;
    box-sizing: content-box;
  }

  .contacts__wraper {
    display: flex;
    justify-content: space-between;
  }

  .contacts__wraper_left {
    display: flex;
    flex-direction: column;
    row-gap: 7.5vh;
    width: 43.75vw;
  }

  .contacts__info,
  .contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2.5vh;
  }

  .contacts__row {
    position: relative;
    top: -1vh;
    transition: 0.3s ease-in-out;
    overflow-y: hidden;
    max-height: 2.4vh;
    line-height: 2.8vh;
  }

  .contacts__link {
    display: block;
    transform: translateY(0%);
    transition: 0.3s ease-in-out;
  }

  .contacts__link:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
  }

  .contacts__links {
    display: block;
    transform: translateY(0%);
    transition: 0.3s ease-in-out;
  }

  .contacts__links:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
  }

  .contacts__row_top {
    display: flex;
    /* column-gap: 7.25vw; */
    position: relative;
    transition: 0.3s ease-in-out;
    overflow-y: hidden;
    max-height: 2.4vh;
    line-height: 2.8vh;
  }

  .contacts__label {
    width: 12.5vw;
    font-size: 1.35vh;
    text-align: left;
    text-transform: uppercase;
    overflow: hidden;
  }

  .contacts__span,
  .contacts__item_top,
  .contacts__message,
  .contacts__text,
  .contacts__copyright {
    position: relative;
    color: transparent;
    animation: showTitle;
    animation-duration: 0.8s;
    animation-delay: 520ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    overflow: hidden;
  }

  .contacts__span::before,
  .contacts__item_top::before,
  .contacts__message::before,
  .contacts__text::before,
  .contacts__copyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    animation: slideCoverTitle;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
  }

  .contacts__item_top,
  .contacts__item_bottom {
    display: block;
    font-family: "GothamProBlack", sans-serif;
    font-size: 2.22vh;
    letter-spacing: 0.07vh;
    text-align: left;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }

  .contacts__item_top:hover,
  .contacts__item_bottom:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .contacts__social {
    display: flex;
  }

  .contacts__message {
    margin-top: 22.35vh;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
  }

  .contacts__message_right {
    display: none;
  }

  .contacts__wraper_right {
    position: relative;
    padding: 0 7.25vw;
  }

  .contacts__text {
    position: absolute;
    top: -20.25vh;
    left: 7.25vw;
    max-width: 27.5vw;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
  }

  .contacts__copyright {
    position: absolute;
    bottom: 0;
    right: 12.25vw;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
  }

  .title {
    position: absolute;
    top: 12.59vh;
    left: 18.59vw;
    font-family: "GothamProBold", sans-serif;
    font-size: 4.93vh;
    line-height: 4.69vh;
    text-transform: uppercase;
    color: transparent;
    animation: showTitle;
    animation-duration: 0.8s;
    animation-delay: 550ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    overflow: hidden;
  }

  .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    animation: slideCoverTitle;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 1023px) {
  .contacts::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 1px;
    top: 566px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .styleLine::before {
    display: block;
  }

  .container {
    position: relative;
    top: 110px;
    max-width: 100vw;
    padding: 0 20px;
    box-sizing: content-box;
  }

  .contacts__wraper {
    display: contents;
    justify-content: space-between;
  }

  .contacts__wraper_left {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }

  .contacts__info,
  .contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
  }

  .contacts__row {
    position: relative;
    text-align: right;
  }

  .contacts__link,
  .contacts__links {
    display: block;
  }

  .contacts__row_top {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .contacts__label {
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
  }

  .contacts__item_top {
    display: block;
    font-family: "GothamProBlack", sans-serif;
    font-size: 18px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .contacts__item_bottom {
    display: none;
  }

  .contacts__item_top:hover,
  .contacts__item_bottom:hover {
    cursor: url("/public/img/header/cursor_active.svg") 10 10, pointer;
  }

  .contacts__social {
    display: flex;
    justify-content: space-between;
  }

  .contacts__message {
    display: none;
  }

  .contacts__wraper_right {
    position: relative;
    margin-top: 230px;
  }

  .contacts__text,
  .contacts__message_right {
    position: relative;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .contacts__copyright {
    display: none;
  }

  .contacts__form {
    margin: 40px 0;
  }

  .title {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 84px;
    text-transform: uppercase;
  }

  .footer {
    display: block;
    margin-top: 180px;
  }
}

@keyframes slideCoverTitle {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes showTitle {
  0% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes slideCoverTitle {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes showTitle {
  0% {
    color: #000;
  }
  100% {
    color: #000;
  }
}
